# Chargement des données

In [10]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
# utilisation de pd.read_csv pour charger les fichiers dans les dataframes
data = pd.read_csv('ytrain.csv',sep=",", decimal=".",engine='python', parse_dates=['timestamp'])
df_test = pd.read_csv('ytest.csv',sep=",", decimal=".",engine='python')

In [2]:
data.shape

(31232, 274)

In [3]:
data.head()

,timestamp,S7-T1,S2-T1,S19-T1,S56-T3,S85-T3,S16-T3,S16-T1,S94-T3,S28-T1,...,S47-T2,S65-T2,S32-T2,S21-T2,S13-T2,S97-T2,S25-T1,S25-T2,S98-T2,S99-T2
0,2019-11-25 00:00:00+00:00,Down,Down,Available,Down,Down,Offline,Offline,Offline,Available,...,Down,Offline,Offline,Available,Available,NaN,NaN,NaN,NaN,NaN
1,2019-11-25 00:15:00+00:00,Down,Down,Available,Down,Down,Offline,Offline,Offline,Available,...,Down,Offline,Offline,Available,Available,NaN,NaN,NaN,NaN,NaN
2,2019-11-25 00:30:00+00:00,Down,Down,Available,Down,Down,Offline,Offline,Offline,Available,...,Down,Offline,Offline,Available,Available,NaN,NaN,NaN,NaN,NaN
3,2019-11-25 00:45:00+00:00,Down,Down,Available,Down,Down,Offline,Offline,Offline,Available,...,Down,Offline,Offline,Available,Available,NaN,NaN,NaN,NaN,NaN
4,2019-11-25 01:00:00+00:00,Down,Down,Available,Down,Down,Offline,Offline,Offline,Available,...,Down,Offline,Offline,Available,Available,NaN,NaN,NaN,NaN,NaN

In [4]:
#data['timestamp'] = pd.to_datetime(data['timestamp'])
#data['timestamp']=data['timestamp'].astype('datetime64[ns]')
#data.dtypes

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31232 entries, 0 to 31231
Columns: 274 entries, timestamp to S99-T2
dtypes: datetime64[ns, UTC](1), object(273)
memory usage: 65.3+ MB

In [6]:
data1 = data.dropna(axis=0)
data1.head()

,timestamp,S7-T1,S2-T1,S19-T1,S56-T3,S85-T3,S16-T3,S16-T1,S94-T3,S28-T1,...,S47-T2,S65-T2,S32-T2,S21-T2,S13-T2,S97-T2,S25-T1,S25-T2,S98-T2,S99-T2
7142,2020-02-07 22:30:00+00:00,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7143,2020-02-07 22:45:00+00:00,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7144,2020-02-07 23:00:00+00:00,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7145,2020-02-07 23:15:00+00:00,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7146,2020-02-07 23:30:00+00:00,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down

In [7]:
df = data1 ['timestamp']
df2 = data1.drop('timestamp', axis=1)

In [8]:
df2.head()

,S7-T1,S2-T1,S19-T1,S56-T3,S85-T3,S16-T3,S16-T1,S94-T3,S28-T1,S62-T3,...,S47-T2,S65-T2,S32-T2,S21-T2,S13-T2,S97-T2,S25-T1,S25-T2,S98-T2,S99-T2
7142,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,Down,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7143,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,Down,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7144,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,Down,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7145,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,Down,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down
7146,Down,Available,Available,Available,Down,Available,Passive,Offline,Available,Down,...,Down,Available,Offline,Offline,Offline,Passive,Offline,Offline,Available,Down

In [13]:
data['month'] =data['timestamp'].datetime.month

AttributeError: 'Series' object has no attribute 'datetime'

In [ ]:
X_train, y_train =  df[:19000],df2[:19000]
X_valid,y_valid = df[19000:], df2[19000:]

In [ ]:
dumY_train=pd.get_dummies(y_train)
dumY_valid=pd.get_dummies(y_valid)
dumY_train.head()

In [ ]:
#data1 = df_train.fillna(method='bfill', inplace=True)
#data1 = df_train.fillna(method='bfill')
#data1  = df_train.fillna('Offline')
#data1.head()
#df2 = df_train.drop(S99-T2,200:274)
#df2 = df_train.drop(df_train.columns[[200:274]], axis=1)
#df2 = df_train.drop(df_train.iloc[:,200:274],1)
#df2.head()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, dumY_train)
y_pred = model.predict(X_train)
print(metrics.accuracy_score(dumY_train, y_pred))